.postWrapper {
    width: 80%;
    margin: auto;
    font-family: Sans-serif;

    .topBar {
        width: 100%;
        text-align: right;
        background-color: #1a7321;
        color: white;
        box-sizing: border-box;
        margin-bottom: 1em;
        padding: 0.4em;
        border-radius: 0.2em;
    }

    .registerButton {
        display: inline;
        margin: 1em 0 5em 1em;
    }

    .createButton {
        margin: 1em 0 5em 1em;
        width: 20vw;
        min-width: fit-content;
    }

    button {
        &:hover {
            cursor: pointer;
        }
    }

    .postButton {
        width: 100%;
        text-align: left;
        background-color: #f1f1f1;
        border: 1px solid #cacaca;
        border-radius: 3px;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        padding: 0 1em;

        .title:hover {
            color: #00b216;
            cursor: pointer;
        }

        .body {
            margin-bottom: 1em;
        }

        .newCommentForm {
            display: block;
            box-sizing: border-box;
            padding: 1em 0.5em;
            margin: 1em 0;
            border: 1px solid;
            border-bottom: none;

            input {
                width: 99.4%;
                margin-bottom: 1em;
            }

            button {
                display: block;
            }
        }

        .commentWrapper {
            border: 1px solid;
            border-top: none;
            margin-bottom: 1em;
            box-sizing: border-box;
            padding: 0 0.5em;

            .comment {
                box-sizing: border-box;
                border-bottom: 1px dashed #00000040;
            }

            .comment:last-child {
                border-bottom: none;
            }
        }

        .dateTime,
        .tags {
            font-size: 10pt;
            color: #5d5d5d;
            margin: 1em 0;
        }

        .dateTime {
            span:nth-child(1) {
                background-color: #b1cfd8;
                border: 1px solid #6574bb;
                margin: 0 0.2em;
                padding: 0.1em 0.3em;
                border-radius: 3px;
                box-sizing: border-box;
            }

            span {
                margin: 0 0.5em;
            }
        }

        .tags {
            span {
                background-color: #b1d8b9;
                border: 1px solid #65bb65;
                margin: 0 0.2em;
                padding: 0.1em 0.3em;
                border-radius: 3px;
                box-sizing: border-box;
            }
        }
    }
}
