.post {
    width: 100%;
    font-family: Sans-serif;

    .title {
        text-align: center;
    }

    .body {
        height: 50vh;
        overflow: auto;
        background-color: #e0efe7;
        box-sizing: border-box;
        padding: 1em;
        margin-bottom: 1em;
    }

    .dateTime,
    .tags {
        font-size: 10pt;
        color: #5d5d5d;
        display: inline;
        margin: 0 0.2em;
    }

    .dateTime {
        span:nth-child(1) {
            background-color: #b1cfd8;
            border: 1px solid #6574bb;
            margin: 0 0.2em;
            padding: 0.1em 0.3em;
            border-radius: 3px;
            box-sizing: border-box;
        }

        span {
            margin: 0 0.5em;
        }
    }

    .tags {
        span {
            background-color: #b1d8b9;
            border: 1px solid #65bb65;
            margin: 0 0.2em;
            padding: 0.1em 0.3em;
            border-radius: 3px;
        }
    }

    button {
        display: block;
        margin: 1em 0;
        border: 1px solid #ababab;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

    }

    .removeButton {
        background-color: red;
        color: white;
        border: 1px solid #a87c7c;
    }
}
